*{
   margin: 0;
   padding: 0;
}

header{
   background-color: rgb(142, 175, 166);
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding: 10px;
   color: #193C33;
   
}
 
.intro{
   display: flex;
   align-items: center;
   background-color: rgb(255, 255, 255);
   color: rgb(18, 48, 41);
   margin: 2%;
   padding: 10px 50px;
   
}

.img{

   width: 8%;
}

div{ 
   padding: 30px;
}
@media screen and (mi-width: 1728){ 

}
.lalezar-regular {
   font-family: "Lalezar", system-ui;
   font-weight: 400;
   font-style: normal;}

.texto1{
   display: flex;
}
